@page "/products/create"

<PageTitle>Create Product</PageTitle>

<h1>Create Product</h1>

<EditForm Model="Form" FormName="Create" OnValidSubmit="Submit">
	<div>
		<label for="Name">Product Name:</label>
		<InputText id="Name" @bind-Value="Form.Name"/>
	</div>

	<div>
		<label for="Price">Product Price:</label>
		<InputNumber id="Price" @bind-Value="Form.Price"/>
	</div>

	<button type="submit">Submit</button>
</EditForm>