@page "/products"

<h1>Listing</h1>

<MudButton Href="/products/create">Create</MudButton>

<MudTable
	Items=@Products
	Hover=@true
	>
	<HeaderContent>
		<MudTh>Id</MudTh>
		<MudTh>Name</MudTh>
		<MudTh>Price</MudTh>
	</HeaderContent>

	<RowTemplate>
		<MudTd>@context.Id</MudTd>
		<MudTd>@context.Name</MudTd>
		<MudTd>@context.Price</MudTd>
	</RowTemplate>
</MudTable>